body {
    padding-top: 54px;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

p {
  font-size: 14px;
}


.centered {
    text-align: center;
}



/* menu section */
#about {
	background-color: #FFF;
	padding-top: 35px;
	padding-bottom: 35px;
}

/* menu section */
#plan {
	background-color: #FFF;
	padding-top: 35px;
	padding-bottom: 35px;
}

/* menu section */
#basegroup {
	background-color: #FFF;
	padding-top: 35px;
	padding-bottom: 35px;
}
